:root {
  --vp-c-brand-lighter: var(--color-primary-backdrop);
  --vp-c-brand-1: var(--color-primary);
  --vp-c-brand-2: var(--color-primary-focus);
  --vp-c-brand-3: var(--color-primary);
  --vp-c-bg: var(--color-contrast-50);
  --vp-c-bg-alt: var(--color-contrast-100);
  --vp-c-bg-soft: var(--color-contrast-100);
  --vp-c-bg-elv: var(--color-contrast-200);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, var(--color-error) 20%, var(--color-primary));
  --vp-home-hero-image-background-image: linear-gradient(-90deg, var(--color-primary) 50%, var(--color-error) 50%);
  --vp-home-hero-image-filter: blur(75px);
  --vp-custom-navbar-color: hsl(240deg 4% 93% / 97%);
}

.dark {
  --vp-custom-navbar-color: hsl(240deg 4% 9% / 97%);
}

.VPNavBar,
.VPNavBar.fill {
  background: var(--vp-custom-navbar-color);
  border-bottom: 1px solid var(--vp-c-divider);
  backdrop-filter: saturate(50%) blur(24px);
}

.VPNavBar.fill .content-body,
.VPNavBar.has-sidebar .content-body {
  background: none !important;
}

.VPNavBar:not(.top) .content-body {
  background-color: inherit !important;
}

.VPNavBar.has-sidebar .curtain {
  display: none;
}

.VPNavBarTitle.has-sidebar .title {
  border: none;
}

.grid-links ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
  padding: 0 !important;
  list-style: none !important;
}

.grid-links li {
  margin: 0 !important;
}

.logo-highlight {
  float: left;
  padding: 1rem;
  margin: 0.5rem 1.5rem 0.5rem 0;
  background: var(--color-contrast-100);
  border: 1px solid var(--vp-c-divider);
  border-radius: 1rem;
}

.logo-highlight-smaller {
  float: right;
  padding: 1rem;
  margin: -57px -25px 0 0;
  background: var(--color-contrast-50);
  border: 1px solid var(--vp-c-divider);
  border-radius: 0 12px;
}

.VPFeature:hover img {
  border: 1px solid var(--vp-c-brand-1);
}

/* Alternative: Use a wrapper selector if VPFeature is inside VPContent */
.VPContent .VPFeature {
  border: 1px solid var(--vp-c-divider);
}

.badges {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
